.top-navigation{
  background-color: #fff;
}

.content {
  width: 60rem;
  height: 4.375rem;
  margin: 0 auto;
  padding: 0 6rem;
  box-sizing: border-box;
  border: solid 1px black;
  
}

.logo {
  float: left;
  margin-top: 1rem;
  width: 1.6rem;
  height: 2.4rem;
}

.content li {
  display: inline;    
  float: right;
  margin-left: 2rem;
  list-style-type: none;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

.content ul {
  margin-top: 1.6rem;
}

.content li:hover {
  color: #2e2e2e;
  transition: all 0.5s ease;
  cursor: pointer;
}

.content li span {
  color: #4c5058;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;

}

