.top-navigation{
  background-color: #fff;
}

.content {
  width: 60rem;
  height: 3rem;
  margin: 0 auto;
  padding: 0 7rem;
  box-sizing: border-box;
}

.logo {
  margin-top: -0.5rem;
  width: 1.6rem;
  height: 2.4rem;
}

.content li {
  display: inline;    
  float: right;
  margin-left: 1.6rem;
  list-style-type: none;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

.content ul {
  margin-top: 1.6rem;
}

.content li:hover {
  color: #2e2e2e;
  transition: all 0.5s ease;
  cursor: pointer;
}

.content li span {
  color: #4c5058;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;

}

.main {
  width: 80rem;
  height: 45.938rem;
  margin: 0 auto;
  padding: 0 7rem;
  box-sizing: border-box;
  background-image: url('../img/background.jpeg');
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.main h1,h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.main h1 {
  padding-top: 12rem;
  font-size: 3rem;
  margin:0;
}

.main h2 {
  margin-top: 1rem;
}

.main button {
  background-color: #f15a29;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  margin-left: 28rem;
  margin-top: 0.5rem;
  height: 3.5rem;
  width: 10rem;
  border-radius: 0.3rem;
  border: none;
 }

 .main button:hover {
  background-color: #d04b1f;
  cursor: pointer;
 }

 .services {
  width: 80rem;
  height: 35rem;
  margin-left: 10rem;
  }

.devices {      
    width: 25%;
    height: 10rem;
    display: inline-block;
}

.device {
float: right;
}

.refill {
  float:left;
  margin-left: 2rem;
}

.coffee {
  margin-right: 6rem;
  float: right;
}

.services h2 {
  margin-left: -18rem;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.device_text {      
    width: 25%;
    height: 5rem;
    display: inline-block;
    margin:0;
    padding:0;
}

.services p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin: 0;
  padding:0;
}

p.internet {
  margin-left: 10.5rem;
}

p.pay {
  margin-right: 10rem;
}